.detalle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}


.detalle__carta {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 0 15px 3px #ccc;
    max-width: 500px;
    width: 100%;
    text-align: center;
}

.detalle__imagen {
    max-width: 300px;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 1rem;
}

.detalle__contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detalle__titulo {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.detalle__descripcion {
    margin-bottom: 1rem;
    font-size: 1rem;
    color: #555;
}

.detalle__precio {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.detalle__cantidad {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.detalle__cantidad button {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    background-color: #928962;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.detalle__cantidad span {
    font-size: 1.2rem;
}

.detalle__boton {
    background-color: #928962;
    color: white;
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
}

.detalle__boton:hover {
    background-color: #b8a965;
}

.detalle__volver {
    background-color: #cdbf85;
    color: #555;
    margin-top: 10px;
}

.detalle__volver:hover {
    color: white;
}

@media (max-width: 768px) {
    .detalle {
        padding: 1rem 2rem;
    }
    
    .detalle__carta {
        flex-direction: column;
        align-items: center;
        padding: 18px;
    }

    .detalle__imagen {
        width: 100%;
        max-width: 300px;
    }

    .detalle__contenido {
        padding: 1rem;
        text-align: center;
    }

    .detalle__cantidad {
        justify-content: center;
    }

    .detalle__boton {
        width: 100%;
        margin: 0.5rem 0;
    }
}

/* Responsive: botón centrado en mobile */
@media (max-width: 768px) {
    .detalle__volver {
        width: 100%;
        text-align: center;
        font-size: 1rem;
    }
}

.combo {
    width: 100%;
    max-width: 1200px;
    margin: 1.5rem auto;
}
