/* Contenedor general de búsqueda */
.busqueda-container {
  max-width: 1100px;
  margin: 2rem auto;
  padding: 1rem;
  text-align: center;
}

/* Grid de productos */
.busqueda-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

/* Copiado desde Item.css */
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 4px 8px 0 #928962;
  transition: 0.3s;
  width: 15rem;
  height: 20rem;
  border: solid 1px #928962;
  border-radius: 0.5rem;
  margin: 0.1rem;
}

.card:hover {
  zoom: 103%;
}

.card-btn {
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  background-color: #b1a571;
  cursor: pointer;
}

.card-btn:hover {
  background-color: #bdaf73;
}

.imagen-producto {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

/* Textos */
.busqueda-cargando,
.busqueda-sin {
  margin-top: 2rem;
  font-size: 1.2rem;
  color: #888;
}

